:root {
	--color1: #f76702;
	--color2: #c471ed;
	--color3: #f64f59;
}

.barContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	// width: 50%;
	background-color: yellow;
	align-content: center;
	.circleBackground {
		fill: none;
		stroke: #000;
		// stroke: #f76702;
	}
	.circleProgress {
		fill: none;
		stroke: var(--color1);
	}
}
