.checkboxWrapper *,
.checkboxWrapper *::before,
.checkboxWrapper *::after {
	box-sizing: border-box;
}

.checkboxWrapper label {
	display: block;
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.checkboxWrapper input {
	visibility: hidden;
	display: none;
}

.checkboxWrapper input:checked ~ .checkbox {
	transform: rotate(45deg);
	width: 14px;
	margin-left: 12px;
	border-color: #f76702;
	border-top-color: transparent;
	border-left-color: transparent;
	border-radius: 0;
	color: transparent;
}

.checkboxWrapper .checkbox {
	display: block;
	width: inherit;
	height: inherit;
	border: 3px solid #252525;
	border-radius: 6px;
	transition: all 0.375s;
}

// Add new Task css
.addTaskWrapper {
	width: 90%;
	background-color: #333;
}
