// Add new Task css
.addTaskWrapper {
	display: flex;
	justify-content: space-around;
	width: 100%;
	font-family: 'Lato', sans-serif;
	.inputAddTask {
		width: 70%;
		padding: 1rem;
		border-radius: 1rem;
	}

	.addTaskBtn {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #fff;
		width: 30%;
		& > button {
			width: 60%;
			flex: column;
			text-align: center;
			align-items: center;

			background: #fff;
			border: 1px;
			border-radius: 1rem;
			font-size: 0.9rem;
		}
	}
}

.checkboxWrapper *,
.checkboxWrapper *::before,
.checkboxWrapper *::after {
	box-sizing: border-box;
}

.checkboxWrapper label {
	display: block;
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.checkboxWrapper input {
	visibility: hidden;
	display: none;
}

.checkboxWrapper input:checked ~ .checkbox {
	transform: rotate(45deg);
	width: 14px;
	margin-left: 12px;
	border-color: #f76702;
	border-top-color: transparent;
	border-left-color: transparent;
	border-radius: 0;
	color: transparent;
}

.checkboxWrapper .checkbox {
	display: block;
	width: inherit;
	height: inherit;
	border: 3px solid #252525;
	border-radius: 6px;
	transition: all 0.375s;
}
