.addNewTodoBtn {
	font-family: 'Lato', sans-serif;
	width: 100%;
	background-color: inherit;
	border: none;
	span {
		background-color: inherit;
		font-size: 2rem;
	}
	button {
		background-color: inherit;
		color: #fff;
		border: none;
		font-size: 1rem;
		// padding: 0.3rem;
		// font-weight: 100;
	}

	h2 {
		font-weight: 400;
		letter-spacing: 0.09rem;
	}
}

.hideFormBtn {
	background-color: inherit;
	border: none;
	display: block;
	width: 100%;
	padding: 5px;
	color: #fff;
	font-size: 1rem;
	background-color: grey;
	border-radius: 0.4rem;
}
