.addNewTodoContainer {
	justify-content: center;
	align-items: center;
	margin: auto;
	max-width: 100%;
	font-family: 'Lato', sans-serif;
	// margin: 0 auto;
	// padding: 20px;
	background-color: #f9f9f9;
	// border-radius: 8pxs;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: inherit;
	border: none;
	.toggleButton {
		// width: 100px;
		background-color: inherit;
		border: none;
		z-index: -2;
		font-size: 1rem;
		letter-spacing: 0.09rem;
		color: #fff;
	}

	.todoForm {
		display: flex;
		flex-direction: column;
		align-items: center;
		// background-color: sblue;
		border: none;
		// background-color: red;

		.inputTodo {
			padding: 10px;
			width: 100%;
			border: 1px solid #ccc;
			border-radius: 8px;
		}
	}

	.btnAddTodo {
		background-color: inherit;
		border: none;
		display: block;
		width: 90%;
		padding: 5px;
		color: #fff;
		font-size: 1.3rem;
		background-color: grey;
		border-radius: 0.4rem;
	}
}
// button {
// 	width: 120px;
// 	height: 40px;
// 	background-color: #fff;
// }
