.upcomingTasks {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-direction: column;
	background-color: #181818;
	background-color: red;

	.headerH1 {
		font-size: 5rem;
	}
	.upcomingTasksHeader {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		background-color: #181818;
		color: #fff;

		.arrow {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			width: 14%;
			.spanArrow {
				font-size: 2rem;
			}
			img {
				width: 40px;
				transform: rotate(45deg);
			}
		}
	}
	.tasksContainer {
		display: flex;
		width: 100%;
		background-color: yellow;
	}

	.todoList {
		width: 40%;
		background-color: yellow;
		list-style: none;
		padding: 0;
	}
}

/*




.todo-input button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  min-width: 200px; /* Set a minimum width for the list items */
// }

// .todo-list li button {
//   background-color: #ff6c6c;
//   color: white;
//   border: none;
//   padding: 10px;
//   border-radius: 4px;
//   cursor: pointer;
// }
