.addTasks {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	gap: 1rem;
	flex-direction: column;
	font-family: "Lato", sans-serif;
	width: 100%;
	border-radius: 2rem;
	// background-color: yellow;
	.addTask {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		gap: 1rem;
		align-items: center;
		padding: 1rem;
		width: 100%;
		height: 35%;
		background-color: #f76702;
		border-radius: 2rem;
		margin-bottom: 1rem;
	}

	.btnRemoveTask {
		width: 30px;
		height: 40px;
		background-color: black;
	}
	// btnRemoveTask
}

.greeting {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 65%;
	border-radius: 2rem;
	background-color: #e2e2e2;
	.awesomeImg {
		display: flex;
		object-fit: cover;
		justify-content: center;
		background-color: #e2e2e2;
		border-radius: inherit;
		width: 100%;
		padding-bottom: 1rem;
		& > img {
			object-fit: cover;
			background-color: #e2e2e2;
			padding-top: 0.8rem;
			width: 200px;
		}
	}

	& > h2 {
		display: block;
		text-align: center;
		letter-spacing: 0.3rem;
		font-weight: 300;
	}

	.todoInput {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;

		// margin-bottom: 10px;

		input {
			padding: 7px;
			font-size: 16px;
			border: 1px solid #ccc;
			border-radius: 6px;
			// margin-right: 10px;
			// flex: 1;
		}
	}

	button {
		width: 70%;
		padding: 0.3rem;
		border: none;
		border-radius: 6px;
		margin-top: 0.5rem;
	}
}

h1 {
	color: #fff;
}
