header {
	display: flex;
	flex-direction: column;
	color: #ffffff;
	width: 100%;
	font-family: Lato, sans-serif;
	height: auto;
	background-color: #181818;
	.mojo {
		display: flex;
		justify-content: space-between;
		width: 100%;
		align-items: center;
		.mojoText {
			display: flex;
			width: 27%;
			justify-content: space-between;
			align-items: center;

			.mojoImg {
				display: flex;
				border-radius: 50%;
				& > img {
					border-radius: 50%;
					width: 8rem;
					height: 8rem;
					object-fit: fill;
				}
			}

			.mojoHeading {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				align-content: center;
			}
		}
	}
	.bell {
		display: flex;
		align-items: center;

		object-fit: fill;
		& > img {
			width: 5rem;
			height: 5rem;
			object-fit: fill;
		}
	}
	//Main tags
	h1 {
		font-size: 8rem;
	}

	h3 {
		font-size: 2rem;
		letter-spacing: 0.1rem;
	}

	h4 {
		font-size: 1.9rem;
		font-weight: 400;
	}
}
