header {
	display: flex;
	flex-direction: column;
	color: #ffffff;
	width: 100%;
	font-family: Lato, sans-serif;
	height: auto;

	.mojo {
		display: flex;
		padding: 3rem;
		width: 100%;
		align-items: center;
		.mojoText {
			display: flex;
			justify-content: space-around;
			width: 25%;
			align-items: center;
			padding: 1rem;
			.mojoImg {
				width: 50%;
				border-radius: 50%;
				& > img {
					display: inline-block;
					border-radius: 50%;
					width: 15rem;
					height: 15rem;
				}
			}
		}

		.mojoHeading {
			display: flex;
			flex-direction: column;
			align-content: center;
			gap: 15px;
			width: 50%;
			& > h3 {
				display: inline-block;
				font-size: 3.5rem;
			}
			& > h4 {
				display: inline-block;
				font-size: 2.4rem;
				font-weight: 400;
				letter-spacing: 0.2rem;
			}
		}
	}

	.bell {
		display: flex;
		justify-content: flex-end;
		width: 75%;
		padding-right: 2rem;
		& > img {
			width: 5%;
			background: #ffffff;
		}
	}
}
