.action {
	display: flex;
	justify-content: space-between;
	// flex-direction: column;
	width: 100%;
	// height: 50%;
	background-color: blue;
	font-family: "Lato", sans-serif;
	// background-color: #181818;

	.taskTable {
		display: flex;
		border-radius: 2rem;

		// justify-content: center;
		// justify-content: space-between;
		padding: 1rem;
		flex-direction: column;
		width: 50%;
		background-color: yellow;

		.tasks {
			display: flex;
			align-items: center;
			font-size: 1.6rem;

			// justify-content: left;
			width: 100%;
			background-color: red;
		}
	}

	.taskIcon {
		width: 15%;
		img {
			display: inline-block;
			width: 40px;
		}

		.taskText {
			display: 50%;
			width: 50%;
			text-align: center;

			font-family: "Lato", sans-serif;
			color: #ffffff;
			background-color: green;
		}
	}

	.addTasks {
		display: flex;
		width: 50%;
		background-color: blue;
	}
}
