.action {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: blue;
	font-family: "Lato", sans-serif;
	// background-color: #181818;

	.taskContainer {
		display: flex;
		flex-direction: column;
		width: 50%;
		.taskTable {
			display: flex;
			border-radius: 2rem;
			padding: 1rem;
			flex-direction: column;
			width: 100%;
			background-color: yellow;
			.tasks {
				display: flex;
				align-items: center;
				font-size: 1.6rem;
				width: 100%;
				background-color: red;
			}
		}
		.taskHeading {
			display: flex;
			justify-content: space-between;
			padding: 1rem;
			img {
				display: inline-block;
				width: 30px;
			}
		}

		.taskCounter {
			display: flex;
			// flex-direction: column;
			justify-content: space-between;
			width: 100%;
			padding: 3rem 0rem 3rem 0rem;
			align-items: center;
			background-color: #252525;
			background-color: green;
			border-radius: 2rem;
			.taskCounterHeading {
				display: flex;
				flex-direction: column;
				width: 50%;
				// padding: 2rem 0 2rem 0;
				align-items: center;
				// justify-content: space-evenly;
				background-color: blue;
				& > h2 {
					padding-bottom: 1rem;
					font-size: 2.5rem;
					letter-spacing: 0.09rem;
				}

				& > p {
					font-size: 2rem;
					letter-spacing: 0.09rem;
				}
			}
		}

		.circularProgressContainer {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50%;
			background-color: yellow;
			align-content: center;
		}

		// .circularProgressContainer {
		// 	display: flex;
		// 	justify-content: center;
		// 	align-items: center;
		// 	width: 50%;
		// 	background-color: yellow;
		// 	align-content: center;
		// 	.progressBar {
		// 		position: relative;
		// 		height: 100px;
		// 		width: 100px;
		// 		border-radius: 50%;
		// 		background: conic-gradient(#000 3.6deg, #f76702 0deg);
		// 		display: flex;
		// 		align-items: center;
		// 		justify-content: center;
		// 	}
		// 	.progressValue {
		// 		position: relative;
		// 		color: #fff;
		// 		font-size: 1rem;
		// 	}
		// }

		// .circularProgress::before {
		// 	content: "";
		// 	position: absolute;
		// 	height: 80px;
		// 	width: 80px;
		// 	background-color: #252525;
		// 	border-radius: 50%;
		// }
	}
	.taskIcon {
		width: 15%;
		img {
			display: inline-block;
			width: 40px;
		}

		.taskText {
			display: 50%;
			width: 50%;
			text-align: center;

			font-family: "Lato", sans-serif;
			color: #ffffff;
			// background-color: green;
		}
	}

	.addTasks {
		display: flex;
		width: 50%;
		background-color: blue;
	}
}
