.action {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-family: "Lato", sans-serif;
	// background-color: #181818;

	.taskContainer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 60%;
		.taskTable {
			display: flex;
			border-radius: 2rem;
			padding: 1rem;
			flex-direction: column;
			width: 100%;
			background-color: #e2e2e2;
			margin-bottom: 1rem;
			.tasks {
				display: flex;
				align-items: center;
				font-size: 1.6rem;
				width: 100%;
			}
		}
		.taskHeading {
			display: flex;
			justify-content: space-between;
			padding: 1rem;
			img {
				display: inline-block;
				width: 30px;
			}
		}

		.taskCounter {
			display: flex;
			justify-content: space-between;
			width: 100%;
			padding: 3rem 0rem 3rem 1rem;
			align-items: center;
			background-color: #252525;
			border-radius: 2rem;
			.taskCounterHeading {
				display: flex;
				flex-direction: column;
				width: 50%;
				color: #fff;
				align-items: center;

				& > h2 {
					padding-bottom: 1rem;
					font-size: 2.5rem;
					letter-spacing: 0.09rem;
				}

				& > p {
					font-size: 2rem;
					letter-spacing: 0.09rem;
				}
			}
		}

		.circularProgressContainer {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			width: 50%;
			align-content: center;
		}
	}
	.taskIcon {
		width: 15%;
		img {
			display: inline-block;
			width: 40px;
		}

		.taskText {
			display: 50%;
			width: 50%;
			text-align: center;

			font-family: "Lato", sans-serif;
			color: #ffffff;
		}
	}

	.addTasks {
		display: flex;
		width: 45%;
		background-color: blue;
		margin-left: 1rem;
		border-radius: 2rem;
	}
}
